table, td {
  border: 1px solid black;
}

.Wrapper{
  width: fit-content;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.Buttons {
  align-items: center;
}

td {
  text-align: center;
  font-size: 2em;
  width: 2em;
  height: 2em;
  

}